# Ignore Visual Studio temporary files, build results, and
# user-specific files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Other Exclustions
.env
.vs/
.vscode/
Aspire/resources/kafka/sqlserver-connector.json

k8s/helm/environments/dev/*.yaml